meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover")

link(rel="alternate" hreflang="de" href="https://www.happyyoga.de")
link(rel="alternate" hreflang="x-default" href="https://www.happyyoga.de")

link(rel="apple-touch-icon" sizes="180x180" href=assetUrl("apple-touch-icon.png"))
link(rel="icon" type="image/png" sizes="32x32" href=assetUrl("favicon-32x32.png"))
link(rel="manifest" href="/site.webmanifest")
link(rel="mask-icon" href=assetUrl("safari-pinned-tab.svg") color="#5bbad5")
meta(name="msapplication-TileColor" content="#da532c")
meta(name="theme-color" content="#ffffff")



- const metaData = page && page.metaData || {}
- const fallbackPageTitle = "Happy Yoga"
title= metaData.pageTitle ? metaData.pageTitle : fallbackPageTitle

if metaData.pageDescription
  meta(name="description" content=metaData.pageDescription)

if metaData.keywords && metaData.keywords.length > 0
  meta(name="keywords" content=metaData.keywords.join(','))

link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize/modern-normalize.css")
link(rel="stylesheet" href=assetUrl('hy-pattern-lib.css') crossorigin="anonymous")
link(rel="stylesheet" href=assetUrl('Geomanist-Bold-Webfont/stylesheet.css') crossorigin="anonymous")

script.
  if([
    'iPad Simulator',
    'iPhone Simulator',
    'iPod Simulator',
    'iPad',
    'iPhone',
    'iPod'
  ].includes(navigator.platform)) {
    document?.documentElement.classList.add('ios')
  } else {
    document?.documentElement.classList.add('not-ios')
  }

script(src="//unpkg.com/@ungap/custom-elements/es.js" defer)
script(src=assetUrl('hy-components.js') type="module" crossorigin="anonymous" defer)
