doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover")

    - const metaData = page.metaData || {}
    - const fallbackPageTitle = "Happy Yoga"
    title= metaData.pageTitle ? metaData.pageTitle : fallbackPageTitle

    if metaData.pageDescription
      meta(name="description" content=metaData.pageDescription)

    if metaData.keywords && metaData.keywords.length > 0
      meta(name="keywords" content=metaData.keywords.join(','))

    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize/modern-normalize.css")
    link(rel="stylesheet" href=assetUrl('hy-pattern-lib.css') crossorigin="anonymous")

    script(src="//unpkg.com/@ungap/custom-elements/es.js" defer)
    script(src=assetUrl('hy-components.js') type="module" crossorigin="anonymous" defer)

  body
    nav
      top-page-menu
        button(is="nav-button" type="button")

        ul.unstyled
          li
            a(href="/").link Home
          li
            a(href="/").link Kurse
          li
            a(href="/").link Preise
          li
            a(href="/").button Anmeldung

    block heroTeaser

    scroll-foam
      main
        content-container
          block content

      footer
        footer-section
          h4 Links
          ul.unstyled
            li
              a(href="#") Schwangerschaftsyoga
            li
              a(href="#") Impressum
            li
              a(href="#") Datenschutz


        footer-section
          h4 Kontakt
          dl.list-style
            dt Telefon:
            dd +49 201 53697013

            dt Mobil:
            dd +49 177 7976877

            dt E-Mail:
            dd
              a(href="mailto://info@happy-yoga.de") info@happy-yoga.de

    script.
      if([
        'iPad Simulator',
        'iPhone Simulator',
        'iPod Simulator',
        'iPad',
        'iPhone',
        'iPod'
      ].includes(navigator.platform)) {
        document?.body.classList.add('ios')
      }
