mixin fullWidthImageTeaser(entry)
  //- text-box-right
  full-width-image-teaser(style=`--background-image: url(${entry.backgroundImage.url})` class=`text-box-${entry.textBoxDirection}`)
    full-width-image-teaser-body
      a(href=entry.link.url)
        h2= entry.headline
        if entry.teaserText
          p= entry.teaserText
        if entry.link
          span.link-text= entry.link.linkLabel

