mixin fullWidthImageTeaser(entry)
  //- pre=debugObject(entry)
  full-width-image-teaser(style=`--background-image: url(${entry.backgroundImage.url})`)
    full-width-image-teaser-body
      a(href=entry.link.url)
        h2= entry.headline
        if entry.teaserText
          p= entry.teaserText
        if entry.link
          span.link-text= entry.linkText

