//- !! DON'T CHANGE THE NAME TO `teaser`, THE CONTENT TYPE IS CALLED IMAGE TEASER STILL!!
mixin imageTeaser(entry)
  //- pre= debugObject(entry.link)
  image-teaser(style=`--image-teaser-background-image: url(${entry.backgroundImage.url})`)
    unless (entry.showLinkAsActionButton)
      a.wrapping-link(href=entry.link.url)
        if entry.headline
          p.teaser-headline= headline
        if entry.text
          p.teaser-text= text
        if entry.link && entry.link.linkLabel
          span.link-text= entry.link.linkLabel
    else
      a.button(href=entry.link.url)= entry.link.linkLabel
