//- !! DON'T CHANGE THE NAME TO `teaser`, THE CONTENT TYPE IS CALLED IMAGE TEASER STILL!!
mixin imageTeaser(entry)
  //- pre= debugObject(entry.headline)
  standard-teaser(style=`--teaser-background-image: url(${entry.backgroundImage.url}); --teaser-background-color: ${entry.backgroundColor};` class=`${entry.link.linkLabel ? 'with-label' : ''} ${entry.textColorBrightness ? 'dark-font' : 'bright-font'}`)
    unless (entry.showLinkAsActionButton)
      a.wrapping-link(href=entry.link.url)
        if entry.headline
          p.teaser-headline= entry.headline
        if entry.text
          p.teaser-text= entry.text
        if entry.link.linkLabel
          span.link-text= entry.link.linkLabel
    else
      if entry.headline
        p.teaser-headline= entry.headline
      if entry.text
        p.teaser-text= entry.text
      a.button(href=entry.link.url)= entry.link.linkLabel
